#carbonads {
  display: block;
  overflow: hidden;
  margin: 40px auto;
  padding: 1em;
  max-width: 360px;
  background-color: hsl(131, 22%, 85%);
  font-size: 14px;
  line-height: 1.5;
}

#carbonads a {
  text-decoration: none;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
}

.carbon-poweredby {
  position: absolute;
  bottom: 0;
  left: 144px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  line-height: 1;
}
